*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/pngtree-contrast-color-mobile-wallpaper-hd-image_1510256.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed ;
    color: aliceblue;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 50px;
    align-items: center;
}

header img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}
header img:hover{
    box-shadow: 0 0 15px aqua;
}
.menu {
    position: absolute;
    top: 55px;
    right: 200px;
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    min-width: 150px;
    z-index: 999;
    align-items: center;
}
.menu a {
    text-decoration: none;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;   
}
input, select{
    outline: none;
    border: none;
    background-color: black;
    color: aliceblue;
    border-bottom: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
main{
    width:80%;
    margin: 2% 10%;
}

.proj{
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.605);
}
.proj h3, h4{
    background-color: black;
    border-radius: 10px;
    padding:10px;
    border-bottom: 1px solid white;
}
.concluido{
    color: green;
}
.em-andamento{
    color: yellow;
}
.pendente{
    color: red;
}

